body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.beta {
  color: #fff;
  font: 14px "Ubuntu", sans-serif;
  margin-left: 0.8px;
  position: relative;
  bottom: 3px;
  vertical-align: bottom;
}
.nav-blog {
  align-items: center;
  background-color: rgb(2, 21, 89);
  box-sizing: border-box;
  color: rgb(119, 119, 119);
  z-index: 1030;
}
.navbar-light .navbar-text a {
  color: rgba(255, 255, 255, 0.973);
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}
.navbar-light .navbar-text a:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  list-style-type: none;
}
.blog-img {
  width: 550px;
}
.text-blog {
  font-size: 30px;
  color: #000;
  font-weight: bold;
}
.pra-blog {
  line-height: 26px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777;
}
.a-blog:hover {
  text-decoration: none;
}

.form-container {
  padding: 48px 0 26px 0;
  text-align: center;
  color: #000;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);
  margin: 37px 0;
  position: relative;
}
.form-mid-container {
  text-align: left;
}
.email-text {
  font-weight: bold;
}
.table-blog {
  color: #707070;
  font-size: 0.875rem;
  line-height: 19px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 30px;
  padding: 25px 11px;
}

.form-blog {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.button-blog {
  background: #27b4e5de;
  width: 100%;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 11px;
  font-size: 1.125rem;
  font-family: "Ubuntu Regular";
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
.button-blog:hover{
  background: #0bb9f3de;
  width: 100%;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 11px;
  font-size: 1.125rem;
  font-family: "Ubuntu Regular";
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}